# .env — Copy this file and fill in your credentials
# NEVER commit the real .env to GitHub — it's in .gitignore

MONGO_URI=mongodb+srv://siripi:Chandu143@bigdata.rtntt9l.mongodb.net/austin_shelter?retryWrites=true&w=majority&appName=bigdata